{% extends 'layout.html' %}

{% block body %}
{% include 'navigation.html' %}
<pre>The Godfather is an American film series that consists of three crime drama films directed by
    Francis Ford Coppola inspired by the novel of the same name by Italian American author Mario Puzo.
    The series follows the trials of the Corleone family, Italian Americans whose patriarch, Vito Corleone,
    rises to be a major figure in American organized crime. His youngest son, Michael Corleone,
    becomes his successor. The films were distributed by Paramount Pictures and released in 1972, 1974 and 1990.
    The series achieved success at the box office, with the films earning over $550 million worldwide.

    The Godfather is seen by many as one of the greatest films of all time, while The Godfather Part II
    is viewed by many as the best sequel in cinematic history. The series is heavily awarded,
    winning 9 out of 29 total Academy Award nominations.
    <img src={{ imgsrc }}>
</pre>
{% endblock %}