<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The GodFather Series</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .jumbotron {background-color:Maroon ;color:white}
      .navbar {background-color:Tan ;color:white;}

     body {
        padding: 4%;
        padding-top:2%;
      }
      img {
        margin: 5px;
        float: left;
        }
    </style>
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
    </script>
    <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});
    </script>
</head>
<body class="container">
{% block body %}

{% endblock %}
</body>
</html>