<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">A Flask App</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/godfatherI">The Godfather</a></li>
            <li><a href="/godfatherII">The Godfather Part II</a></li>
            <li><a href="/godfatherIII">The Godfather Part III</a></li>
            <li><a href="/vote">Vote</a></li>
            <li><a href="/voteresults">Vote Results</a></li>
      </ul>
    </div>
</nav>
