<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">A Flask App</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/quotes">Painters' Quotes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
      </ul>
    </div>

</nav>

